/* GENERAL */
html
{
	background-color: #F2F2F2;
}

a
{
	text-decoration: none;
}

h1, h2
{
	color: #81C4DF;
	font-family: 'Caveat', cursive;
}






/* HEADER */

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li
{
	display: flex;
	list-style-type: none;
    padding: 20px 15px;
}

nav ul
{
	padding-left: 20px;
}

nav a
{
    font-size: 2em;
    color: #181818;
    text-decoration: none;
    padding-bottom: 3px;
    font-family: 'Caveat', cursive;
}

nav a:hover
{
    color: #81C4DF;
}

#banner img
{
	width: 90%;
	padding: 0% 5%;
}





/* SECTION */


/* Main */

.preview
{
	width: 88%;
	padding: 2% 5%;
	margin: 2%;
	border: solid 1px #81C4DF;
	border-radius: 10px;
	background-color: #FAFAFA;
}

.preview a
{
	position: relative;
	left: 90%;
}

/* allChapters */

#previews
{
	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;
	margin-left: 5%;
}

.iconPreview
{
	font-size: 24px;
	width: 25%;
	padding: 2% 1%;
	margin: 2%;
	border: solid 3px #81C4DF;
	border-radius: 10px;
	background-color: #FAFAFA;
}


/* Comments */

#comment
{
	width: 88%;
	padding: 2% 5%;
	margin: 2%;
	border: solid 1px black;
	border-radius: 10px;
	background-color: #FAFAFA;
}

.under
{
	display: flex;
}

.under a
{
	position: relative;
	left: 80%;
}

#comments
{
	width: 88%;
	padding: 2% 5%;
	margin: 2%;
}